# Environment variables
NODE_ENV=development
PORT=3002

# Database
DATABASE_URL=

# User Service URL for authentication validation
USER_SERVICE_URL="http://localhost:3002"
ATTENDANCE_SERVICE_URL="http://localhost:3003"

# Session 
SESSION_NAME="sessionId"
SESSION_SECRET="your-super-secret-session-key-change-this-in-production"

# CORS
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3002,http://localhost:3003"


GOOGLE_PROJECT_ID=
GOOGLE_PUB_SUB_CREDENTIALS_PATH="./google-account.json"


AUTH_RATE_LIMIT = 1000
API_RATE_LIMIT = 1000


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=attendance/profile-photos